@import "tailwindcss";
@theme {
  --color-brasil-blue: #002776;
  --color-brasil-green: #009C3B;
  --color-brasil-yellow: #FFDF00;
  
  --color-neutral-50: #F8FAFC;
}
@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 156, 59, 0.2); 
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(0, 156, 59, 0);
  }
}
.animate-pulse-slow {
  animation: pulse-slow 4s infinite ease-in-out;
}